#education {
    width: 100%;
    max-width: 75rem;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.education-main-title {
    margin-top: 8%;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.education-main-desc {
    text-align: center;
    font-weight: 100;
    margin-bottom: 40px;
    padding: 0px 30px;
    margin-top: 10px;
    color: #C8C8C8;
}

.education-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.education {
    border-right: 2px solid yellow;
    max-width: 65%;
    width: 90vw;
    max-width: 60rem;
}

.educationitem {
    margin-right: 20px;
    padding: 20px;
    border: 1px solid yellow;
    border-radius: 12px;
}

.institute {
    font-size: 20px;
    font-weight: 600;
}

.program {
    font-size: 16px;
    font-weight: 500;
    color: rgba(177, 178, 179, 0.7);
}

.date {
    font-size: 14px;
    font-weight: 400;
    color: #707070;
}

.description {
    margin-top: 10px;
    color: #C8C8C8;
}

@media screen and (max-width: 510px) {
    .education-container {
        margin-bottom: 3rem;
    }

    .education-main-desc {
        margin-bottom: 35px;
        font-size: 14px;
    }

    .education-main-title {
        font-size: 38px;
    }

    .institute {
        font-size: 18px;
    }

    .program {
        font-size: 12px;
    }

    .date {
        font-size: 12px;
    }

    .description {
        font-size: 12px;
    }
}