#intro {
    width: 100vw;
    max-width: 75rem;
    overflow: hidden;
}

.main-section {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px 20px 50px;
    gap: 32px;
}

.mainSection-contentbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.mainSection-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-image {
    display: flex;
}

.hero-image>img {
    width: 100%;
    height: 100%;
}

.hi-content {
    font-size: 1.5rem;
    font-weight: 100;
    color: #C8C8C8;
}

.name {
    color: yellow;
    font-size: 56px;
    font-weight: 700;
}

.mainSection-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.mainSection-description {
    font-size: 16px;
    font-weight: 100;
    color: #A0A0A0;
}

.button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 2rem;
}

.btn, .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 15px !important;
    border: none;
    border-radius: 2rem !important;
    cursor: pointer;
}

.btn {
    margin-right: 1rem;
}

.btn:hover {
    background: rgb(255, 255, 56);
}

.btn-img {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1.25rem;
}


@media screen and (max-width: 1200px) {
    .main-section {
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 1rem;
        padding-bottom: 70px;
    }
    .mainSection-content {
        justify-content: center;
        align-items: center;
    }

    .mainSection-contentbox {
        align-items: center;
    }

    .hi-content,
    .name,
    .mainSection-title {
        text-align: center;
        align-items: center;
    }

    .hi-content {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .name {
        font-size: 50px;
    }

    .mainSection-title {
        font-size: 30px;
    }

    .mainSection-description {
        font-size: 1rem;
        text-align: center;
        padding: 0px 35px;
    }
}

@media screen and (max-width: 510px) {
    .main-section {
        padding-top: 0.25rem;
    }

    .name {
        font-size: 30px;
    }

    .mainSection-title {
        font-size: 18px;
    }

    .mainSection-description {
        padding: 0;
        font-size: 1rem;
    }
    .btn p, .btn2 p {
        display: none;
    }
}