#skills {
    width: 100%;
    max-width: 75rem;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.skills-container {
    width: 100%;
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
    gap: 30px;
}

.skill {
    width: 100%;
    max-width: 500px;
    border: 1px solid yellow;
    border-radius: 16px;
    padding: 18px 36px;
}

.skills-title {
    margin-top: 5%;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.skills-desc {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding: 0px 30px;
    margin-bottom: 50px;
    color: #C8C8C8;
}

.skills-item-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.skill-img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.skill-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 1px solid #707070;
    border-radius: 15px;
    padding: 15px 15px;
    font-weight: 400;
    color: #A9A9A9;
}

@media screen and (max-width: 510px) {
    .skills-title {
        font-size: 38px;
    }
    .skills-container {
        margin-bottom: 3rem;
    }
    .skills-item-title {
        font-size: 20px;
    }
    .skills-desc {
        font-size: 14px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 460px) {
    .skills-container {
        gap: 25px;
    }
}

@media screen and (max-width: 420px) {
    .skills-container {
        gap: 20px;
    }
    .skillname {
        display: none;
    }

    .skill-img {
        margin-right: 0;
    }
}