.footer {
    width: 100vw;
    height: 4rem;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-weight: 300;
}

@media screen and (max-width: 510px ) {
    .footer {
        margin-top: 0px;
    }
}